<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
								http://www.springframework.org/schema/mvc/spring-mvc.xsd
								http://www.springframework.org/schema/beans
								http://www.springframework.org/schema/beans/spring-beans.xsd
								http://www.springframework.org/schema/context
								http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 스캔한 패키지 내부의 클래스 중 Controller 어노테이션을 가지고 있는 클래스들을 Controller로 로딩하도록 
		한다. -->
	<annotation-driven />

	<!-- 스캔할 bean들이 모여있는 패키지를 지정한다. -->
	<context:component-scan
		base-package="kr.co.mytest.controller" />

	<!-- Controller의 메서드에서 반환하는 문자열 앞 뒤에 붙힐 경로 정보를 셋팅한다. -->
	<beans:bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/WEB-INF/views/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>
	
	<!-- properties 파일의 내용을 사용할 수 있도록 Bean을 정의한다 -->
	<beans:bean class='org.springframework.beans.factory.config.PropertyPlaceholderConfigurer'>
		<beans:property name="location">
			<beans:value>/WEB-INF/properties/db.properties</beans:value>
		</beans:property>
	</beans:bean>
	
	<beans:bean class='org.apache.commons.dbcp2.BasicDataSource' id='basic_data_source'>
		<beans:property name='driverClassName' value='${db.classname}'/>
		<beans:property name="url" value="${db.url}"/>
		<beans:property name="username" value='${db.username}'/>
		<beans:property name="password" value='${db.password}'/>
	</beans:bean>
	
	<beans:bean class='org.mybatis.spring.SqlSessionFactoryBean' id='sqlSession'>
		<beans:property name="dataSource" ref='basic_data_source'/>
		<beans:property name="mapperLocations" value='/WEB-INF/mapper/*.xml'/>
	</beans:bean>
	
	<beans:bean class='org.mybatis.spring.SqlSessionTemplate' id='sqlSessionTemplate'>
		<beans:constructor-arg index='0' ref='sqlSession'/>
	</beans:bean>

</beans:beans>